*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white:#FFFFFF;
    --Navy:#131172;
    --Orange:#CB790B;
    --Black:#000000;
    --Green:#085F63;
    --Grey:#D9D9D9;
    --Red:#871212;
    --NBlue:#1D9BF0;
    --GBlue:#005288;

}
.container{
    background-color: var(--white);
    width: 100%;
}

/* Navigation starts */
.nav-wrapper{
    padding: 30px;
    background-color: var(--white);
    position: fixed;
    width: 90%;
    z-index: 100%;
}
nav{
    justify-content: space-between;
    align-items: center ;
    display: flex;

}
nav img{

    width: 50px;
    height: 50px;
}
nav ul{

    display: flex ;
    gap: 30px;
    list-style: none;
    align-items: center;

}
nav ul li a{

    text-decoration: none;
    color: var(--Orange);
}
/* Navigation ends */

section{
    height: 100vh;
    width: 100%;
    padding-top: 120px;
}

/* Home starts */
section .home-wrapper{

    display: flex;
    width: 100%;
    padding: 80px;
}
section .home-wrapper .content{

    float: left;
    width: 50%;
}
section .home-wrapper .content h1{

    font-size: 38px;
    font-weight: 700;
    color: var(--Black);
}
section .home-wrapper .content h1 span{

    color: var(--Green);
    margin-left: 5px;
    margin-right: 5px;
}
section .home-wrapper .content p{

    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
}
section .home-wrapper .content .btn-group{

    gap: 30px;
    margin-top: 15px;
    z-index: 1;
}
.btn-group .apple,
.btn-group .android{
    margin-top: 5px;
    color: var(--Orange);
    z-index: 99;
}



section .home-wrapper .image{

    float: right;
    width: 50%;
}
section .home-wrapper .image img{

    width: 500px;
}

/* Home ends */

/* About starts */
.header-text{

    text-align: center;
    margin-top: 10px;
}
section .about-wrapper{

    display: flex;
    width: 100%;
    padding: 80px;
}
section .about-wrapper .pictures{
    float: left;
    width: 50%;

}
section .about-wrapper .content{
    float: right;
    width: 50%;
    
}
.pictures .arrow{

    width: 80px;

}
.pictures .bitcoin{

    width: 130px;
    margin-left: 100px ;
    
}
.pictures .diamond{

    width: 80px;
    margin-left: 300px;
    
}
.content p{

    font-size: 14px;

}
/* About ends */

/* features starts */
.trade{
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 80px;
}
.trade .coin {

    padding: 10px;
    width: 33.33%;
}
.trade .coin img{

    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

}
.trade .coin h3{

    font-size: 20px;

}
.trade .coin p{

    font-size: 14px;

}
.trade .dollar {

    padding: 10px;
    width: 30%;
}
.trade .dollar img{

    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.trade .dollar h3{

    font-size: 20px;

}
.trade .dollar p{

    font-size: 14px;

}
.trade .scan {

    padding: 10px;
    width: 30%;
}
.trade .scan img{

    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.trade .scan h3{

    font-size: 20px;

}
.trade .scan p{

    font-size: 14px;

}
/* features ends */

/* services starts */
.service-wrapper{

    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 80px;
}
.service-wrapper .assets{

    width: 30%;
}
.service-wrapper .assets img{

    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.service-wrapper .assets h5{

    text-align: center;
}

.service-wrapper .web3{

    width: 30%;
}
.service-wrapper .web3 img{

    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.service-wrapper .web3 h5{

    text-align: center;
}
.service-wrapper .mint{

    width: 30%;
}
.service-wrapper .mint img{

    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

}
.service-wrapper .mint h5{

    text-align: center;
}
.explore{

    display: flex;
  justify-content: center;
  align-items: center;
}

/* service ends */

/*sponsor starts*/

.sponsor-wrapper{

    padding: 80px;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    white-space: nowrap;
    overflow: hidden;
}
.sponsor-wrapper .twitter{

    color: #1D9BF0;
}
.sponsor-wrapper .Netflix{

    color: #860000;
    
}
.sponsor-wrapper .pay{

    color: #283B82;
}
.sponsor-wrapper .space{

    color: #005288;
    margin-bottom: 7000px;
}
.sponsor-wrapper .patron{

    color: #FF424D;
    
}
.sponsor-wrapper .twitter{

    color: #1D9BF0;
}
.sponsor-wrapper .Netflix{

    color: #860000;
    
}
.sponsor-wrapper .pay{

    color: #283B82;
}
.sponsor-wrapper .space{

    color: #005288;
    margin-bottom:  200px;
}
.sponsor-wrapper .patron{

    color: #FF424D;
    
}
.Money{
    display: flex;
    padding: 80px;
    width: 100%;
}
.Money .Heading{

    float: left;
    margin: 0;
    color: #072AA6;
    width: 50%;
    padding: 20px;
}
.Money .Sub-Heading{

    color: #000000;
    width: 80%;
    padding: 20px;
}

.images{
 
   
    float: right;
    padding: 20px;

}

.pic1{

    width: 130px;
    height: 130px;
    margin-left: 10px;
}
.pic2{

    width: 130px;
    height: 130px;
    margin: left 10px; ;
}
.pic3{

    width: 130px;
    height: 130px;
    margin: left 10px; ;
}
.exploreButton{
    display: flex;
    justify-content: center;
    align-items: center;
      
}
.footer{
   
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}
.nero{
     
    width: 50px;
    height: 50px;
    padding: 0;
}
.nero .text{

    margin-top: 10px;
    float: left;
    padding: 20px;
  
}
.links{

    margin-top: 100px;
    float: right;
}
.links .homie{

    color: #CB790B;
    font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.theAbout{
    color: #CB790B;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.theFeatures{
    color: #CB790B;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.theServices{

    color: #CB790B;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.theContants{
    
    width: 300px;
    height: 30px;
    border-radius: 20px;
    background: #871212; 
    font-size: 24px;
}
.theQuery{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    background: #871212; 
    font-size: 24px;

}
.theEmail{

    width: 300px;
    height: 30px;
    border-radius: 20px;
    background: #871212; 
    font-size: 20px;
}
.emailButton{

    display: flex;
    justify-content: space-around;
    

}


